* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  color: #404040;
}

header {
  z-index: 3;
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  font-size: 1.7rem;
  text-align: center
}

header ul {
  margin: 1rem;
  list-style: none;
}

header a {
  text-decoration: none;
  color: #f2f2f2;
}

a:hover {
  color: #ffd8be;
}

header ul li {
  display: inline;
  margin-left: 3rem;
  margin-right: 3rem;
}

.container {
  max-width: 1200px;
  margin: auto
}

.photo_main {
  background-color: rgba(0,0,0,0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0, center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 60px;
  text-align: center;
}

.block_1 {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  display: flex;
  color: #f2f2f2;
  font-size: 2.2rem;
}

.photo_text h4 {
  font-size: 1.7rem;
}

.photo_1 {
  max-width: 100%;
}

.text_1 {
  display: flex;
  order: 1;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  flex-basis: 75%;
}

.photo_text {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
}

.background_2 {
  background: linear-gradient(90deg, #ffd8be,#ffeedd,#ffeedd,#ffd8be);
}

.block_2 h1 {
  /*color: #f2f2f2;*/
  color: black;
  font-size: 3rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  margin-right: 1rem;
  margin-left: 1rem;
}

.section_features {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 1.8rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 2rem;
}

.features {
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem;
  background-color: rgba(120,0,0,0.1)
}

.photo_features {
  max-width: 100%;
}

.background_3 {
  background: rgba(2,48,71,0.9)
}

.block_3 {
  color: #ffeedd;
  display: flex;
  justify-content: center;  
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
}

.block_3 h1 {
  padding-top: 2rem ;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.section_review {
  font-size: 1.5rem;
  max-width: 87%;
  float: left;
  margin: 1.5rem;
  border: 1px solid DarkSlateGrey;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffeedd;
  color: black;
}

.photo_review {
  width: 20%;
  float: left;
  margin-right: 1rem;
  border-radius: 10px;
}

.background_4 {
  background: linear-gradient(90deg, #ffd8be,#ffeedd,#ffeedd,#ffd8be);
}

.block_4 {
  text-align: center;
  padding: 2rem;
  color: black;
}

.block_4 h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

input {
  width: 400px;
  border: 0.5px solid rgba(120,0,0,0.2);
  border-radius: 20px;
  padding: 11px;
  margin: 1rem;
  background-color: rgba(120,0,0,0.1);
  font-size: 1rem;
}

input {outline:none;}

input:focus {
  background-color: rgba(255,255,255,0.3);
}

button {
  color: #f2f2f2;
  background-color: rgb(27,68,89,0.9);
  font-size: 1.5rem;
  margin-top:1.5rem ;
  margin-bottom: 1.5rem;
  padding: 10px 50px;
  border-radius: 10px;
  cursor: pointer;
  border: 0.5px solid rgba(2,48,71);
}

@media (max-width: 1000px) {
  header ul li {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .block_1 {
    font-size: 1.5rem;
  }

  .photo_text h4 {
    font-size: 1.2rem;
  }

  .section_features {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .features {
    padding: 1rem;
    margin: 1rem;
  }

  .section_review {
    font-size: 1.2rem;
  }

}

@media (max-width: 600px) {
  header ul li {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    font-size: 1.4rem;
  }

  .block_1 {
    display: block;
    margin-top: 2rem;
  }

  .photo_text {
    max-width: 40%;
    margin: auto;
    margin-bottom: 1.5rem;
  }

  .text_1 {
    display: block;
    padding-bottom: 0;
  }

  .section_features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features {
    width: 50%;
  }

  input {
    width: 300px;
  }
}

@media (max-width: 410px) {

  .text_1 {
    font-size: 1rem;
    padding-bottom: 0;
  }

  .photo_text {
    max-width: 45%;
  }

  input {
    margin: 0;
    margin-top: 1rem;
    width: 250px;
  }

  .block_4 h1 {
    font-size: 1.7rem;
  }

  .block_2 h1 {
    font-size: 1.7rem;
  }

  .block_3 h1 {
    font-size: 1.7rem;
  }

  .block_4 p {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }
}

@media (max-height: 650px) {
  .text_1 {
    padding-top: 2rem;
    flex-basis: 80%;
    font-size: 1.5rem;
  }

  .photo_text {
    flex-basis: 17%;
    font-size: 1.2rem;
  }

  .photo_text h4 {
    font-size: 1.2rem;
  }
}
